*{
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #e1e1e1;

}

nav{
    display: flex;
    background-color: #ced4da;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 5px solid #213bc3;
    
}
#nav-content{
    display: flex;
    color: black;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
    padding: 12px;
}

#logo{
    width: 100%;
    max-width: 250px;
    height: auto;

}

#nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
    padding: 10px;
    flex-wrap: wrap;
}

#facebook{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 119, 242);
    border-radius: 15px;
    transition: 0.3s;
    
}
#facebook:hover{
    background-color: rgb(0, 102, 204);
}
#facebook svg{
    width: 18px;
    height: 18px;
    fill: white;
}

.nav-link{
    padding: 10px;
    transition: 0.3s;
    border-radius: 15px;
}
.nav-link:hover{
    background-color: #213bc3;
    color: rgb(255, 255, 255);
}

.nav-link:active{
    background-color: #213bc3;
    color: rgb(255, 255, 255);
}
#nav-button{
    display: none;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    
}
#nav-button svg{
    width: 100%;
    height: 100%;
    
}

#dropdown-nav{
    display: none;
    width: 100%;
    background-color: #ced4da;
    color: black;
    padding-left: 10px;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#dropdown-nav.active{
    opacity: 1;
    max-height: 500px;
}

#dropdown-contnet{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.dropdown-link{
    width: 100%;
    font-size: 20px;
    padding: 10px;
    transition: 0.3s;
}

.dropdown-link:hover{
    background-color: #213bc3;
    color: rgb(255, 255, 255);
}

#dropdown-facebook{
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    
    
    transition: 0.3s;
}

#dropdown-facebook:hover{
    background-color: rgb(24, 119, 242);
    
}
#dropdown-facebook:hover svg{
    fill: white;
    
}
#dropdown-contnet svg{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    fill: rgb(0, 0, 0);
    transition: 0.3s;
}

@media (max-width: 920px){
   #nav-links{
        display: none;
   }
   #nav-button{
        display: flex;
    
   }
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
}

main h2{
    font-size: 30px;
    margin: 20px 0;
    width: 100%;
    text-align: center;
    background-color: #213bc3;
    color: white;
    padding: 5px 0;
    
}
#cards{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    gap: 20px;
    margin: 50px 0;
    place-items: center; 
}
.card{
    
    height: 450px;
    background-color: rgb(250, 249, 249);
    transition: 0.3s;
    border-radius: 15px;
    box-shadow: 7px 11px 17px -16px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 15px 10px;
    
}

.card:hover{
    box-shadow: 7px 11px 17px -16px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    
}

.card > img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.card h4{
    background-color: #ffee32;
    padding: 5px 10px; 
    color: black;
    border-radius: 15px;
}

.card-button{
    width: 100%;
    height: 40px;
    background-color: rgb(175, 0, 0);
    color: white;
    margin-top: 10px;
    background-color: #213bc3;
    border-radius: 25px;
    transition: 0.3s;
}
.card-button a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.card-button:hover{
    background-color: #3d5cf5;
    color: white;
}

#partners{
    margin-top: 20px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    flex-direction: row;
    align-items: center;
}

.partner img{
    width: 100%;
    max-width: 200px;
    height: auto;
    
    
}
























@media (max-width: 690px) {
    .card {
        width: 100%;
        
        
    }
}
@media (max-width: 500px) {
    #logo{
        width: 100%;
        max-width: 200px;
        height: auto;
    }
    #partners img{
        width: 100%;
        max-width: 180px;
        height: auto;
    }
}

